{% extends "base.html" %}

{% block page_content %}
<head>
    <style>    
        .row {
        display: flex;
        }
        .column {
        flex: 40%;
        }
    </style>
</head>
<body>
    <div>
        {% if 0 > this_week_index %}
        <h1>Semester has not started yet!</h1>
        {% elif calendar.weeks|length > this_week_index %}
        <h1>You are in {{ calendar.weeks[this_week_index].week_name }}</h1>
        {% else %} 
        <h1>Congratulations, you have finished this semester.</h1>
        {% endif %}
    </div> 
    <div class="row" style="height: 100%">
        <div class="column">
            {% for week in calendar.weeks %}   
            <div>
                <h5>
                    {{ week.week_name }}
                    <a href="{{ url_for('view_week', week_id=week.id) }}">View week</a>
                </h5>
            </div>
            {% endfor %}
        </div>
        <div class="column" style="padding-right: 20px">
            <div class="row" style="border-style: solid;width:100%;height: 50%;">
                <h3>
                    Things due this week:
                </h3><br>
                <ul>
                    {% if calendar.weeks|length > this_week_index and this_week_index >= 0 %}
                    {% for todo in calendar.weeks[this_week_index].todoitems %}
                    <li>{{ todo.description }}</li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div> <br>
            <div class="row" style="border-style: solid;width: 100%;height: 50%;">
                <h3>
                    Things due next week:
                </h3><br>
                <ul>
                    {% if calendar.weeks|length > this_week_index + 1 and this_week_index + 1 >= 0 %}
                    {% for todo in calendar.weeks[this_week_index + 1].todoitems %}
                    <li>{{ todo.description }}</li>
                    {% endfor %}
                    {% endif %}
                </ul> 
            </div>
        </div>
    </div>
    <div>
        <br>
        <form 
            action="{{ url_for('delete_calendar', calendar_id=calendar.id) }}" 
            method='POST'
            onSubmit="return confirm('Are you sure you wish to delete this calendar?');"
        >
            <input type="submit" value="Delete Calendar">
        </form>
    </div>
</body>
{% endblock %}
